In [1]:
import pandas as pd
from package.database import Database
from package.constants import CLICKHOUSE_URL

# Query

In [2]:
query = """
select name, engine
from system.databases
"""

with Database(CLICKHOUSE_URL) as db:
    result = db.execute(query)
    df = pd.DataFrame(result.all())

df

                 name  engine
0  INFORMATION_SCHEMA  Memory
1             default  Atomic
2  information_schema  Memory
3              system  Atomic

# Add parameters

In [3]:
query = """
select name, engine
from system.databases
where engine in :engines
"""
params = {
    'engines': ['Atomic']
}

with Database(CLICKHOUSE_URL) as db:
    result = db.execute(query, params=params)
    df = pd.DataFrame(result.all())

df

      name  engine
0  default  Atomic
1   system  Atomic

# Add Jinja

In [4]:
query = """
select {{ columns|join(', ') }}
from system.databases
where engine in :engines
"""
context = {
    'columns': ['name', 'engine']
}
params = {
    'engines': ['Atomic']
}

with Database(CLICKHOUSE_URL) as db:
    result = db.execute(query, context=context, params=params)
    df = pd.DataFrame(result.all())

df

      name  engine
0  default  Atomic
1   system  Atomic

# Inspect rendered statement

In [5]:
query = """
select {{ columns|join(', ') }}
from system.databases
where engine in :engines
"""
context = {
    'columns': ['name', 'engine']
}
params = {
    'engines': ['Atomic']
}

with Database(CLICKHOUSE_URL) as db:
    rendered = db.render_statement(query, context=context, params=params)

print(rendered)

select name, engine
from system.databases
where engine in ('Atomic');